html {
    height: 100%;
}

body {
    width: 40%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h1, .center, .inhalt h3 {
    text-align: center;
}

div#content.buch {
    /*padding: 20px 5px 20px 40px;*/
    position: relative;
    width: 40%;
}

.autors {
    width: 50%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
}

/*tr:nth-child(odd) {*/
    /*background: #ccc;*/
/*}*/

td:nth-child(2) {
    text-align: right;
}

.cover {
    /*float: left;*/
    /*width: 50%;*/
}

img.cover_pic {
    float: left;
    margin: 0 10px 0 0;
    /*padding: 8px;*/
    width: 250px;
}

.description {
    font-family: Georgia, 'Times New Roman', serif;
    text-align: justify;
    text-indent: 1em;
    /*font-size: 1.2em;*/
}

.inhalt {
    float: left;
    clear: both;
}

.local {
    float: right;
    clear: both;
    font-size: 0.8em;
}

.button {
    margin-top: 20em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.keller {
    padding-top: 5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
    float: left;
    width: 150px;
    padding: 0 10px;
    margin: 5px 0 0;
    text-align: right;
}

fieldset {
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: 0;
}

fieldset br {
    clear: left;
}

form input, form textarea {
    margin: 5px 0 5px 5px;
}

sup {
    vertical-align: super;
    font-size: 0.6em;
    color: red;
}