@font-face {
    font-family: 'Conv_Lester Deco';
    src: url('../fonts/Lester Deco.eot');
    src: local('☺'), url('../fonts/Lester Deco.woff') format('woff'), url('../fonts/Lester Deco.ttf') format('truetype'), url('../fonts/Lester Deco.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../fonts/FTR55__C.eot');
    src: local('☺'), url('../fonts/FTR55__C.woff') format('woff'), url('../fonts/FTR55__C.ttf') format('truetype'), url('../fonts/FTR55__C.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    width: 100%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    font-family: 'Conv_Lester Deco', Arial, sans-serif;
    color: midnightblue;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h1, .center {
    text-align: center;
}

b {
    font-weight: bold;
}

#headerMain {
    /*width:920px;*/
    height: 3em;
    margin: 0 auto;
    z-index: 0;
}

#header {
    position: fixed;
    left: 5%;
    right: 5%;
    z-index: 9999;
    color: navy;
    background-color: rgba(255, 255, 255, 0.8);
}

#sort {
    position: fixed;
    top: 4em;
    width: 705px;
    /*left: 25.8%;*/
    /*right: 25%;*/
    font-size: 0.75em;
}

#sort tr {
    background-color: rgba(255, 255, 255, 0.8) !important;
    /*background-color: transparent !important;*/
}

.sortClick {
    cursor: pointer;
}

#sort span {
    background-color: rgba(255, 255, 255, 0.9);
}

#content {
    /*width: 700px;*/
    width: 45%;
    max-width: 650px;
    min-width: 450px;
    margin: 0 auto;
}

#buchDataMain {
    height: 3em;
    margin: 0 auto;
    z-index: 0;
}

#buchData {
    position: fixed;
    width: 45%;
    max-width: 650px;
    min-width: 450px;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.9);
    /*margin-top: -0.7em;*/
}

.buch {
    /*padding: 20px 5px 20px 40px;*/
    position: relative;
    /*width: 40%;*/
}

.cover .cover_pic {
    padding-top: 0.3em;
}

#footer {
    position: fixed;
    left: 5%;
    right: 5%;
    bottom: 0;
    clear: both;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    /*height: 25px;*/
}

.footer {
    background-color: rgba(255, 255, 255, 0.8);
}

#copy {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: FuturaMediumC, Arial, sans-serif;
    font-size: 0.6em;
    text-align: right;
}

fieldset {
    border: solid 1px #ddd;
    padding: 10px 10px 10px 45px;
    margin: 0;
    border-radius: 0.5em;
}

fieldset.center {
    padding: 10px;
}

fieldset br {
    clear: left;
}

form {
    width: 600px;
    margin: 0 auto;
}

form input, form textarea {
    font-family: FuturaMediumC, Arial, sans-serif;
    margin: 5px 0 5px 5px;
    padding-left: 0.2em;
}

form input::-webkit-input-placeholder {
    color: red;
}

form input:focus::-webkit-input-placeholder {
    color: transparent;
}

sup {
    vertical-align: super;
    font-size: 0.6em;
    color: red;
}

.autors {
    width: 705px;
    /*width: 600px;*/
    /*Отображение местоположения на главной*/
    /*width: 525px;*/
    /*padding-right: 1em;*/
    /**/
    /*height: 30em;*/
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.autors table tr:hover a {
    color: #2e6da4;
}

.autors table tr:active a {
    color: red;
}

table {
    width: 100%;
}

#clear {
    width: 100%;
    height: 2em;
}

td em {
    font-style: italic;
}

td b {
    font-weight: bold;
}

td:nth-child(2) {
    text-align: right;
    vertical-align: bottom;
}

img.cover_pic {
    float: left;
    margin: 0 10px 0 0;
    /*padding: 8px;*/
    width: 200px;
}

.description {
    font-family: FuturaMediumC, Arial, sans-serif;
    text-align: justify;
    text-indent: 1em;
    /*font-size: 1.2em;*/
}

.description em {
    font-style: italic;
}

.druck {
    font-family: FuturaMediumC, Arial, sans-serif;
    /*font-size: 0.9em;*/
    clear: both;
    padding-top: 0.4em;
}

.notes {
    font-family: FuturaMediumC, Arial, sans-serif;
    font-size: 0.9em;
}

.inhalt {
    width: 100%;
    float: left;
    margin-top: 0.3em;
    margin-bottom: 2.7em;
    clear: both;
}

.inhalt div {
    font-family: FuturaMediumC, Arial, sans-serif;
}

.inhalt h3 {
    margin-top: 0.3em;
    margin-bottom: 0.8em;
}

.inhalt table {
    /*width: 27em;*/
    font-family: FuturaMediumC, Arial, sans-serif;
}

.inhalt td:nth-child(1) {
    padding-right: 0.3em;
}

.inhalt td:nth-child(2) {
    /*font-family: Georgia, serif;*/
    font-size: 0.8em;
}

.traur {
    border: solid 1px midnightblue;
    padding: 0 1px;
}

.caps {
    font-size: 0.8em;
    /*font-variant: small-caps;*/
}

.greece {
    font-family: Georgia, serif;
    font-size: 0.7em;
}

#localMain {
    height: 2em;
    margin: 0 auto;
    z-index: 0;
}

#local {
    position: fixed;
    width: 45%;
    max-width: 650px;
    min-width: 450px;
    /*z-index: 10000;*/
    /*clear: both;*/
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.local {
    float: right;
    clear: both;
    font-size: 0.8em;
    margin-bottom: 1.5em;
    z-index: 10000;
    background-color: white;
    padding: 0.1em 0;
}

.buttons {
    /*margin-top: 20em;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -0.5em;
    text-align: center;
}

.keller {
    padding-top: 5em;
    clear: both;
}

.but {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 0.5em;
    /*width: 6em;*/
    /*height: 2em;*/
    color: white;
    /*font-family: Georgia, serif;*/
    text-align: center;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    font-size: 0.8em;
    background-color: #2e6da4;
    border: hidden;
    border-radius: 1em;
    outline: none;
}

fieldset .but {
    font-family: FuturaMediumC, Arial, sans-serif;
    padding: 0.1em 0.5em;
}

.leftb {
    border-radius: 1em 0 0 1em;
}

.centerb {
    border-radius: 0;
}

.rightb {
    border-radius: 0 1em 1em 0;
}

.but:hover {
    background-color: #204d74;
    text-decoration: none;
    color: white;
}

.but:active {
    /*padding: 0.4em;*/
    /*width: 5.8em;*/
    /*height: 1.8em;*/
    font-size: 0.75em;
    transform: translate(0, 2px);
    -webkit-transform: translate(0, 2px); /** Chrome & Safari **/
    -o-transform: translate(0, 2px); /** Opera **/
    -moz-transform: translate(0, 2px); /** Firefox **/
}

a {
    text-decoration: none;
    color: midnightblue;
}

a:hover {
    text-decoration: none;
    color: #2e6da4;
}

a:active {
    text-decoration: none;
    color: red;
}

label {
    display: block;
    float: left;
    width: 150px;
    padding: 0 10px;
    margin: 5px 0 0;
    text-align: right;
}

/*Добавление картинки*/
.file_upload {
    position: relative;
    overflow: hidden;
    font-size: 1em; /* example */
    height: 2em; /* example */
    line-height: 2em /* the same as height */
}

.file_upload > button {
    float: left;
    width: 8em; /* example */
    height: 100%
}

.file_upload > div {
    padding-left: 9em; /* example */
    font-family: FuturaMediumC, Arial, sans-serif;
}

.file_upload input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em; /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.file_upload {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 1em; /* example */
    height: 2em; /* example */
    line-height: 2em /* the same as height */
}

.file_upload .button, .file_upload > mark {
    display: block;
    cursor: pointer /* example */
}

.file_upload .button {
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 8em; /* example */
    height: 100%;
    text-align: center /* example */
}

.file_upload > mark {
    background: transparent; /* example */
    padding-left: 1em /* example */
}

.file_upload {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s linear
}

.file_upload.focus {
    box-shadow: 0 0 5px rgba(0, 30, 255, 0.4)
}

/*.file_upload > button{*/
/*background: #7300df;*/
/*transition: background 0.2s;*/
/*border: 1px solid rgba(0,0,0,0.1);*/
/*border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*/
/*border-radius: 2px;*/
/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);*/
/*color: #fff;*/
/*text-shadow: #6200bd 0 -1px 0;*/
/*overflow: hidden;*/
/*white-space: nowrap;*/
/*text-overflow: ellipsis*/
/*}*/
/*.file_upload:hover > button{*/
/*background: #6200bd;*/
/*text-shadow: #5d00b3 0 -1px 0*/
/*}*/
/*.file_upload:active > button{*/
/*background: #5d00b3;*/
/*box-shadow: 0 0 3px rgba(0,0,0,0.3) inset*/
/*}*/